<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.crawler.mapper.AllowedURLMapper" >
  <resultMap id="BaseResultMap" type="com.ai.crawler.entity.AllowedURL" >
    <id column="AUTHORITY" property="authority" jdbcType="VARCHAR" />       
  </resultMap>
  <sql id="Base_Column_List" >
    AUTHORITY
  </sql>
  <select id="getAllowedList" resultMap="BaseResultMap">
  SELECT 
  <include refid="Base_Column_List" />
  FROM T_AllowedURLList
  </select>
  <insert id="insert" parameterType="com.ai.crawler.entity.AllowedURL" >
  INSERT INTO T_AllowedURLList (Authority, values (#{authority,jdbcType=VARCHAR})
  </insert>
  <delete id="delete" parameterType="com.ai.crawler.entity.AllowedURL">
  DELETE FROM T_AllowedURLList WHERE Authority = #{authority,jdbcType=VARCHAR}
  </delete>
</mapper> 