<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.crawler.mapper.WebPageMapper" >
  <resultMap id="BaseResultMap" type="com.ai.crawler.entity.WebPage" >
    <id column="PAGEIDENTITY" property="pageIdentity" jdbcType="DECIMAL" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PARENTURL" property="parentURL" jdbcType="VARCHAR" />
    <result column="FETCHTIME" property="fetchTime" jdbcType="TIMESTAMP" />
    <result column="FETCHINGTIME" property="fetchingTime" jdbcType="TIMESTAMP" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />   
	<result column="PUBLISHDATE" property="publishDate" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
  PAGEIDENTITY,URL,PARENTURL,FETCHTIME,FETCHINGTIME,TITLE,PUBLISHDATE
  </sql>
  <select id="getFetchList" resultMap="BaseResultMap" parameterType="int" >
  SELECT 
  <include refid="Base_Column_List" />
  FROM T_WebPages 
  WHERE fetchingTime IS NULL
  ORDER BY PublishDate DESC
  Limit #{count,jdbcType=DECIMAL}
  </select>
  <update id="updateFetchingTime" parameterType="java.util.List" >
  UPDATE T_WebPages 
  SET FetchingTime=now() 
  WHERE URL in 
  <foreach collection="list" item="item"  index="index" open="(" close=")" separator=",">
  #{item.url,jdbcType=VARCHAR}
  </foreach>  
  </update>
  <select id="existCount" parameterType="com.ai.crawler.entity.WebPage" resultType="int">
  SELECT count(1) as cnt 
  FROM T_WebPages 
  WHERE URL=#{url,jdbcType=VARCHAR}  
  </select>
  <insert id="insert" parameterType="com.ai.crawler.entity.WebPage">
  INSERT INTO T_WebPages 
  (
  URL,ParentURL
  <if test="publishDate != null and publishDate !=''">
  ,PUBLISHDATE
  </if>
  ) 
  VALUES 
  (
  #{url,jdbcType=VARCHAR},#{parentURL,jdbcType=VARCHAR}
   <if test="publishDate != null and publishDate !=''">
  ,#{publishDate,jdbcType=VARCHAR}
  </if>
  )
  </insert>
  <update id="update" parameterType="com.ai.crawler.entity.WebPage">
  UPDATE T_WebPages 
  SET FetchTime=now(),TITLE=#{title,jdbcType=VARCHAR}
  WHERE URL =#{url,jdbcType=VARCHAR}
  </update>
  <select id="getPageByURL" parameterType="String" resultType="com.ai.crawler.entity.WebPage">
  SELECT 
  <include refid="Base_Column_List" />
  FROM T_WebPages 
  WHERE URL=#{url,jdbcType=VARCHAR}
  </select>
  <select id="getPageByIdentity" parameterType="long" resultType="com.ai.crawler.entity.WebPage">
  SELECT 
  <include refid="Base_Column_List" />
  FROM T_WebPages 
  WHERE PageIdentity=#{pageIdentity,jdbcType=DECIMAL}
  </select>
  <select id="getPagesByKeyWord" resultMap="BaseResultMap">
  SELECT 
  <include refid="Base_Column_List" />
  FROM T_WebPages 
  WHERE Title like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
  LIMIT #{count,jdbcType=DECIMAL}
  </select>
  <select id="getMaxPageIdentity" resultType="long">
  SELECT MAX(PageIdentity) as maxPageIdentity
  FROM T_WebPages
  </select>
  <update id="updatSeedURL">
  UPDATE T_WebPages
  SET FetchingTime=null,PublishDate=DATE_FORMAT(NOW(),'%Y%m%d')
  WHERE PageIdentity &lt; 20 and title is null
  </update>
</mapper>